.entry-title,
.entry-buttons {
  /* z-index: 1; */
  color: white;
  text-align: center;
}

.entry-section {
  direction: rtl;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.entry-title {
  font-size: clamp(1.5rem, 4vw, 1.5rem);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
  max-width: 90%;
}
.entry-title h1{
  font-size: clamp(3rem, 6vw, 3.5rem);
  color: #b969cc;
  text-shadow: 
  0 0 8px #d899ee,
  0 0 45px rgba(185, 105, 204, 0.5);
}

.entry-buttons {
  display: flex;
  gap: 1rem;
}

@media (min-width: 640px) {
  .entry-buttons {
    flex-direction: row;
  }

  .entry-title {
    font-size: 1.6em;
  }
}

.btn {
  font-size: 1.125rem;
  height: 48px;
  width: 132px;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px #00000066;
  color: white;
}

.btn-primary {
  background-color: #0a0a50;
  border: none;
}

.btn-primary:hover {
  background-color: #2185c0;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}